@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.footer {
    display: flex;
    border-top: 1px solid #5D5D5D;
    align-items: center;
    padding: 21px 72px;
    margin-top: 70px;
}

.footer__content {
    display: flex;
    gap: 60px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
}


.footer__item {
    color: #5D5D5D;
    cursor: pointer;
}